---
import Link from './Link.astro';
import SocialIcons from '../SocialIcons.astro';
---

<header class="flex w-full flex-col gap-3 md:gap-2 md:flex-row md:justify-between pb-5 md:pb-0">
  <a href="/" class="font-mono hover:text-teal-900">aleksandras.dev</a>
  <nav class="text-sm flex gap-4 text-zinc-800">
    <Link href="/" text="home" />
    <Link href="/blog" text="blog" />
  </nav>
  <SocialIcons size={28} />
</header>
