---
import { Image } from 'astro:assets';
import emoji from '../assets/waving-emoji.webp';
---

<section class="py-24">
  <div class="sm:w-7/12">
    <div class="flex gap-2 items-center mb-6">
      <div class="shrink-0">
        <Image src={emoji} alt="Waving emoji" width={36} height={36} />
      </div>
      <h1 class="text-3xl">Hi, I’m Aleksandras</h1>
    </div>

    <h2 class="w-auto sm:w-[85%] md:w-[90%] leading-6">
      A senior front-end engineer <a
        href="https://nordsecurity.com/"
        class="text-teal-900 hover:text-teal-950"
        target="_blank"
      >
        @nordsecurity
      </a> and a purpose driven nerd.
    </h2>
  </div>
</section>
